<nav>
    <div class="site-title">
        <a href="/"><h1>Player data demo</h1></a>
        <p>check player data in mongoDB Atlas</p>
    </div>
    <ul>
        <li><a href="/">Players</a></li>
        <li><a href="/players/create">New Player</a></li>
    </ul>
</nav>